html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: all 0.25s ease-in-out;
}

body {
  @apply bg-white dark:bg-black lg:min-h-full min-h-screen;
}

a {
  color: inherit;
  text-decoration: none;
}
a,
h1,
h2,
p {
  @apply antialiased;
}
datalist {
  position: absolute;
  max-height: 20em;
  transition: 1s linear all;
  @apply sticky border-2 border-opacity-50 border-gray-100 rounded-lg z-50;
}
datalist:focus {
  transition: 1s linear all;
  @apply hidden;
}
datalist option {
  font-size: 0.8em;
  padding: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: 1s linear all;
}

datalist option:hover,
datalist option:focus {
  transition: 1s linear all;
  @apply transition bg-gray-50 rounded-lg outline-none border-none;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  @apply hidden;
}
::-webkit-scrollbar-button {
  @apply hidden;
}
::-webkit-scrollbar-track {
  @apply hidden;
}
::-webkit-scrollbar-track-piece {
  @apply hidden;
}
::-webkit-scrollbar-thumb {
  @apply hidden;
}
::-webkit-scrollbar-corner {
  @apply hidden;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
